@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>


<p>

    

</p>
<div>
    <div>
        <h3>
            TERMINOS Y CONDICIONES GLOBALCAR.APP
        </h3>
    </div>
    <p>
        El uso por parte de GlobalCar.App de la aplicación WhatsApp y el Chat, en adelante LOS CANALES, 
        tiene como finalidad establecer contacto con sus usuarios personas naturales o Jurídicas que quieran 
        adquirir un servicio con GlobalCar.App o que hacen uso de planes no empresariales, 
        únicamente para responder a comentarios y resolver consultas sobre sus productos y servicios. 
        Es un canal GRATUITO de consulta para usuarios, por lo que las peticiones, quejas o recursos (PQR) 
        deben ser presentadas a través de los mecanismos de atención al usuario disponibles por 
        GlobalCar.App de acuerdo con el Régimen de Protección para Seres Sintientes, 
        esto es: Oficinas de Atención al Usuario ubicadas a nivel nacional, Línea gratuita de atención al usuario 
        No. XXXXXXXXX, *2022 (móviles) y/o mediante formulario para radicación de peticiones quejas y recursos (PQR) 
        dispuesto en la página web www.globlacar.somee.com, así como el formulario dispuesto en la red social 
        Facebook en el siguiente link: facebook.com/MASCOTAFELIZ.Colombia. Por medio de esta aplicación el 
        usuario no puede realizar llamadas o video llamadas. 
        GlobalCar.App solo atenderá las consultas de los clientes a través del chat de texto de la aplicación, 
        y solo si así lo requiere GlobalCar.App se podrán compartir imágenes, 
        videos y/o documentos y se habilitará al USUARIO para enviar notas de voz. 
        Dado que la aplicación es de terceros, GlobalCar.App, no será responsable por su continuidad o desempeño, 
        o por su permanencia en el tiempo, ni responderá por ningún daño o perjuicio que se derive de eventuales 
        fallas en la Aplicación. El usuario es responsable de las autorizaciones para el tratamiento de sus 
        datos personales, que haya otorgado a la Aplicación. 
        DEFINICIONES: Para efectos de los presentes Términos y Condiciones se entenderán las siguientes definiciones, 
        las cuales podrán estar escritas en mayúsculas o minúsculas. 
        CONSULTAS: Se define como una solicitud de información o comentario sobre un producto o servicio, 
        o sobre un tema particular referente al servicio contratado. 
        CLIENTE: Se define como CLIENTE para efectos de LOS CANALES, la Persona Natural o Jurídica que se encuentra 
        vinculado con GlobalCar.App y que ha realizado el proceso de autenticación correspondiente para poner 
        realizar consultas a través de LOS CANALES USUARIO: Se define como USUARIO para efectos de LOS CANALES, 
        toda persona que no es CLIENTE de GlobalCar.App y que podrá utilizar los contenidos de LOS CANALES 
        que no impliquen la realización del proceso de autenticación de CLIENTE GlobalCar.App. 
        USO DE LOS CANALES: Los servicios y contenidos de LOS CANALES, tendrán las siguientes condiciones: 
        i. EL USUARIO o EL CLIENTE sólo podrá utilizar LOS CANALES para su uso personal e intransferible. 
        ii. EL USUARIO o EL CLIENTE se acoge a los horarios o ciclos operativo que practique internamente 
        GlobalCar.App para determinar en cuál día quedarán registradas las operaciones realizadas por EL CLIENTE. 
        iii. LOS CANALES podrán tener acceso a otros sitios a través de vínculos, y cada proveedor será responsable 
        por la información suministrada. 
        iv. Los contenidos y servicios de LOS CANALES estarán disponibles, a menos de que se presente fuerza mayor, 
        caso fortuito o hecho de un tercero. 
        v. Cuando se accede LOS CANALES se registra la dirección IP desde la que se accede al CHAT o CANAL. 
        SERVICIOS DE LOS CANALES: Los canales se habilitan para consulta o solicitud de información o comentario 
        sobre un producto o servicio, o sobre un tema particular referente al servicio contratado. 
        Es posible que se habiliten para realizar operaciones de autogestión por parte del usuario como 
        traslados, movimientos, pagos, servicios, descuentos por servicios o cualquier otra operación que
        permita su funcionamiento en la aplicación, para lo que GlobalCar.App, definirá en cada caso el 
        formato y el procedimiento. 
        Para una mayor efectividad del proceso EL USUARIO o EL CLIENTE debe seguir todas las instrucciones que se 
        le impartan a través de LOS CANALES. 
        En el evento que se detecte un mal manejo, un uso inadecuado o una afectación a la seguridad, 
        se suspenderá el acceso al canal. 
        HORARIO. El horario de atención de LOS CANALES será de 6:00 am a 10:00 pm todos los días de la semana. 
        PAUTAS DE BUEN USO DE LOS CANALES POR PARTE DEL DEL USUARIO O CLIENTE. 
        Para lograr una buena atención y un buen desarrollo de la consulta, trámite o operación que se quiera 
        adelantar a través de LOS CANALES EL USUARIO o EL CLIENTE debe: 
        1. Usar debidamente los servicios y contenidos de LOS CANALES, procurando impartir instrucciones precisas, 
        determinables o exactas, puesto que de ello depende el éxito de la consulta, la operación, el trámite o 
        transacción solicitada por EL USUARIO o EL CLIENTE. 
        2. EL USUARIO o EL CLIENTE se compromete a no divulgar y dar a conocer a terceros su información personal 
        que no sea necesaria para la gestión de su consulta, trámite, operación o transacción. 
        3. Establecer los controles necesarios a fin de evitar que terceras personas puedan operar los servicios 
        de LOS CANALES, sin perjuicio de la responsabilidad que asume EL CLIENTE por dichas operaciones. 
        4. Cumplir las recomendaciones e instrucciones formuladas por GlobalCar.App en cuanto a forma de operar 
        y seguridades de los servicios de LOS CANALES. 5. Guardar debida reserva sobre la forma, manejo, 
        funcionalidades y facilidades de los servicios y contenidos de LOS CANALES. 
        6. No ceder, ni hacerse sustituir por terceros en el ejercicio de los derechos y compromisos que asume. 
        7. Cumplir con las condiciones y requisitos necesarios para realizar las operaciones a través de LOS 
        CANALES, tales como correcto uso de la operación del sistema, suministrar completa la información en 
        los formularios y solicitudes, evitar daños en los sistemas de transmisión de datos y todos evitar 
        omisiones o acciones que perjudiquen el uso de LOS CANALES y que estén por fuera del control de 
        GlobalCar.App. 
        8. Abstenerse de introducir dolosamente CUALQUIER CÓDIGO MALICIOSO, VIRUS, TROYANOS, GUSANOS, PHISHING, 
        PHARMING, ROOTKITS, BACKDOOR, KEYLOGGERS, SCREEN LOGGERS, BOOTNETS, SNIFFERS, y en general contenido que 
        pueda dañar LOS CICLOS CANALES o el CHAT. 
        9. No usar ni disponer de la información, programas y archivos del CHAT para fines distintos a aquellos 
        relacionados con la consulta, operación o trámite que se esté surtiendo a través de LOS CANALES. 
        Revisar el contenido de los términos y condiciones de uso de LOS CANALES y aceptarlos al momento de 
        ingresar al canal a través del link o la herramienta dispuesta para ello. 
        En el evento en que NO desee aceptar o se encuentre en desacuerdo con estos Términos y Condiciones, 
        solicitamos abandonar el chat inmediatamente. 
        INFORMACIÓN DURANTE EL USO DE LOS CANALES. 
        Cuando se hace uso de LOS CANALES de consulta se deja una trazabilidad de la consulta, 
        trámite, operación o transacción realizada, en consecuencia, queda huella de las solicitudes, 
        afirmaciones o contenidos que se realicen a través de los canales. 
        
        MEDIOS DE ACCESO A LOS CANALES. 
        GlobalCar.App facilita a EL USUARIO o EL CLIENTE LOS CANALES o aplicaciones a través de medios digitales, 
        para acceder a ellos EL USUARIO o EL CLIENTE debe contar con los dispositivos con acceso a internet que le 
        permitan recibir o transmitir información, los cuales deben son adquiridos por él ya que debe disponer de 
        los equipos y medios de comunicación necesarios para acceder y utilizar LOS CANALES. 
        GlobalCar.App no se hará responsable de la disponibilidad, ni de la confiabilidad de dicho equipo o de los 
        medios de comunicaciones. 
        EL USUARIO o EL CLIENTE siempre debe acceder a LOS CANALES a través de un sitio seguro. 
        RESPONSABILIDAD: GlobalCar.App no será responsable, entre otros, por los siguientes eventos: 
        a) mal uso del sitio como tal
        b) Por los perjuicios que pueda sufrir EL USUARIO o EL CLIENTE a consecuencia de una imposibilidad, 
        demora o deficiente transmisión de los datos u operaciones solicitadas en su sistema de computación o en 
        su sistema de telefonía celular, a causa de fallas en los equipos de EL USUARIO o EL CLIENTE, redes 
        telefónicas u otras, ajenas al control de GlobalCar.App. 
        c) Fuerza mayor, caso fortuito, causa extraña o hecho de un tercero y que en un momento puedan ocasionarle 
        perjuicios a EL CLIENTE que imposibilite, demore, desvíe o altere la realización de operaciones y consultas. 
        d) Si las operaciones no pueden realizarse por causas atribuidas a EL USUARIO o EL CLIENTE, tales como 
        por incorrecta operación del sistema, omisiones o insuficiencia de información en los formularios y 
        solicitudes, por daños en los sistemas de transmisión de datos, u otros que estén por fuera del control de 
        GlobalCar.App. 
        e) Por problemas técnicos, por actividades de mantenimiento o por suspensión del Servicio, debido a un evento 
        de fuerza mayor, caso fortuito, causa extraña o hecho de un tercero. GlobalCar.App no será responsable del 
        contenido y veracidad de las expresiones, afirmaciones, información y el lenguaje suministrado y/o usado por 
        EL USUARIO o EL CLIENTE en LOS CANALES. 
        TRATAMIENTO DE DATOS DE PERSONALES: EL CLIENTE o USUARIO al ingresar al canal debe diligenciar la autorización 
        a GlobalCar.App para que utilice los datos que ha suministrado o que llegue a suministrar para: 
        (i) la evaluación y aprobación de un producto (s) y/o servicio (s), (ii) el desarrollo de la relación 
        contractual correspondiente a un producto (s) y/o servicio (s), (iii) el envío de información de novedades
        o cambios en los producto (s) y/o servicio (s), (iv) el envío de información sobre eventos y realización de 
        actos de promoción y publicidad, (v) actualizar los datos, (vi) desarrollar herramientas de prevención de 
        fraude y (vii) hacer estudios estadísticos o de comportamiento sobre sus gustos y preferencias. 
        Adicionalmente, podrá ser compartida con entidades aliadas para darle a conocer información sobre productos 
        y servicios. Adicionalmente, autoriza para que GlobalCar.App comparta información con terceros proveedores, 
        con el fin de llevar a cabo actividades operativas y administrativas relacionadas con la funcionalidad y 
        utilización de LOS CANALES. Para todos los fines anteriores autoriza el uso de mí e-mail, correo postal, 
        teléfono, celular, SMS, redes sociales o medios similares. EL USUARIO o EL CLIENTE podrá consultar la 
        Política de Tratamiento de Datos Personales de GlobalCar.App, así como el aviso en donde se anuncia la 
        existencia de ésta en www.mascotafeliz.com/tratamientodedatos. USO DE CONTENIDOS: EL USUARIO o EL CLIENTE 
        podrán acceder a los contenidos de las consultas y GlobalCar.App podrá optar por todos los mecanismos que 
        estime convenientes para la realización de la consulta, trámite, operación o transacción realizada.
    </p>
    <p>

    </p>
</div>